################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/VideoEditor/VideoEditor/ffmpeg/ggml-large-v3-turbo-q5_0.bin
/VideoEditor/VideoEditor/ffmpeg/emotion_model.onnx
