
# Visual Studio cache
.vs/

# Build results
# [Bb]in/
# [Oo]bj/
bin/
obj/

!VideoEditor/VideoEditor/ffmpeg/bin/
!VideoEditor/VideoEditor/ffmpeg/bin/**
# Whisper model
**/ggml-base.bin
**/ggml-large-v3-turbo-q5_0